<div class="container-fluid bg">
  <div class="about-section py-5">
    <div class="container">
      <div class="text-center mb-4">
        <h2 class="fw-bold display-4 text-white">About Me</h2>
      </div>
      <div class="row align-items-center">
        <!-- Text Content -->
        <div class="col">
          <p class="lead text-white">
            Hi, I'm <span class="fw-bold text-primary">Praveen Raj</span>, a dedicated 
            <span class="fw-bold text-primary">Front-End Developer</span> 
            with a strong passion for Front-End development. I have 
            <span class="fw-bold text-primary">2 years of experience</span> in building 
            dynamic and interactive web applications using <span class="fw-bold">Angular</span>, 
            <span class="fw-bold">Bootstrap</span>, and <span class="fw-bold">Docker</span>.
          </p>
          <p class="mt-3 text-white">
            While I specialize in creating engaging, responsive user interfaces, I also have experience 
            working with back-end technologies like Node.js, Express, and MongoDB for building 
            scalable applications. I enjoy optimizing performance, enhancing user experience, 
            and leveraging Docker for seamless deployment.
          </p>

          <button class="btn btn-success btn-lg mt-3 px-4 me-3">
            Resume  
            <a href="https://drive.google.com/file/d/1ZsZRULwKjXwP9dBVOHpDzS3UcodN__bL/view?usp=drive_link" class="text-dark eye">
              <i class="fas fa-eye text-orange"></i>
            </a>
          </button>   
          <a class="btn btn-warning btn-lg mt-3 px-4" routerLink="/projects">Explore My Work</a>
        </div>
      </div>
    </div>
  </div>
</div>
