<body>
<div class="container py-5 bg">
  <!-- Contact Header -->
  <div class="text-center mb-4">
    <h2 class="fw-bold display-4 text-white ">Contact Me</h2>
    <p class="lead text-white">Feel free to reach out to me for collaborations or inquiries!</p>
  </div>

  <!-- Contact Info -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="contact-info mb-4 text-white">
        <p class="text-white"><strong>Name:</strong> Praveen Raj</p>
        <p class="text-white"><strong>Mobile Number:</strong><a href="tel: +91-9443942591" class="text-white">+91-9443942591</a></p>
        <p class="text-white"><strong>Email:</strong> <a href="mailto:
          praveenrajs1811@gmail.com" class="text-white">  praveenrajs1811@gmail.com</a>
        </p>
      </div>

      <!-- Social Links -->
      <div class="social-links text-center">
        <a href="https://github.com/praveen18111999" class="btn btn-outline-warning btn-lg m-2 " target="_blank">
          <i class="fab fa-github fa-2x"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/praveen-raj-s01/" class="btn btn-outline-info btn-lg m-2" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i> LinkedIn
        </a>
      </div>
    </div>
  </div>
</div>
</body>