<div class="container-fluid skill">
  <div class="container py-5 bg ">
    <h2 class="mb-4 text-white ">Skills</h2>
    <div class="row">
      <!-- Front-End Development -->
      <div class="col-md-4 ">
        <h5 class="mb-3 text-white"><i class="fas fa-code text-primary"></i> Front-End Development</h5>
        <ul class="list-unstyled text-white ms-3">
          <li><i class="fab fa-html5 text-danger"></i> HTML5</li>
          <li><i class="fab fa-css3-alt text-primary"></i> CSS3</li>
          <li><i class="fab fa-js-square text-warning"></i> JavaScript</li>
          <li><i class="fab fa-bootstrap text-purple"></i> Bootstrap</li>
          <li><i class="fab fa-angular text-danger"></i> Angular</li>

          <li><i class="fab fa-node-js text-green"></i> Node.js</li>
          <li><i class="fas fa-server text-gray"></i> Express</li>


        </ul>
      </div>

      <!-- Tools -->
      <div class="col-md-4">
        <h5 class="mb-3 text-white"><i class="fas fa-tools text-secondary"></i> Tools</h5>
        <ul class="list-unstyled text-white ms-3">
          <li><i class="fas fa-database text-green ms-3"></i> MongoDB</li>
          <li><i class="fas fa-database text-blue ms-3"></i> MySQL</li>
          <li><i class="fab fa-docker text-info ms-3"></i> Docker</li>
          <li><i class="fab fa-git-alt text-orange ms-3"></i> Git</li>
          <li><i class="fas fa-code text-success ms-3"></i> VS Code</li>

        </ul>
      </div>

      <!-- Hosting -->
      <div class="col-md-4">
        <h5 class="mb-3 text-white"><i class="fas fa-server text-success"></i> Hosting</h5>
        <ul class="list-unstyled text-white ms-3">
          <li><i class="fab fa-docker text-info"></i> Docker Containers</li>
          <li><i class="fas fa-fire text-orange"></i> Firebase</li>
        </ul>
      </div>
    </div>
  </div>
</div>