/* Section Title */
h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    
  }
  
  /* Skills Section */
  ul {
    padding: 0;
    list-style: none;
  }
  
  ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Space between items */
    font-size: 1.3rem; /* Text size */
  }
  
  /* Icons Styling */
  ul li i {
    margin-right: 15px; /* Space between icon and text */
    font-size: 2rem; /* Icon size */
  }
  
  /* Skill Text Styling */
  .skill-text {
    font-weight: 500; /* Medium font weight for text */
    color:white; /* Slightly darker color for text */
  }
  
  /* Skill Section Headings */
  h5 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  /* Icon Colors (Optional Overrides) */
  .text-purple {
    color: #6f42c1; /* Custom purple color for Bootstrap */
  }
  
  .text-orange {
    color: #ff8800; /* Custom orange for Git */
  }
  
  .skill {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ), /* Transparent gradient overlay */
      url("/assets/skills.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
  }