<div class="hero-section d-flex align-items-center text-white">
  <div class="container">
    <div class="row align-items-center">
      <!-- Text Content -->
      <div class="col text-center text-md-start">
        <h1 class="display-3 fw-bold mb-3">Praveen Raj</h1>
        <p class="lead mb-4">Front-Stack Developer | Angular | Docker</p>
        <a class="btn btn-outline-light btn-lg px-4 py-2 fw-bold" routerLink="/projects">Explore My Work</a>
      </div>
      <!-- Image Content -->

    </div>
  </div>
</div>